* { /* Універсальний селектор */
    margin: 10px;
    padding: 0px;
}
button {
    font-family: 'Century Gothic';
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    width: 40%;
}

button:hover {
    background-color: #555555;
    color: white;
}

table {
    width: 100%; /* Адаптивний розмір, змінюється при зміні розміра вікна браузера*/
}

th, td { /* Групування */
    text-align: center;
    font-family: "Century Gothic";
}

th {
    padding: 15px;
    font-weight: normal;
}

td {
    padding: 25px;
    font-weight: bold;
}

caption {
    padding: 10px; /* Внутрішній відступ з усіх сторін на 10px */
    font-family: 'Century Gothic';
    font-weight: bold;
    margin-bottom: 10px; /* Зовнішній відступ знизу на 10px */
    font-size: 36px;
}

p {
    font-family: 'Century Gothic';
    font-weight: initial;
    font-size: 20px;
    font-weight: bold;
}

input[type=text], /* Селектор атрибуту */
[id=content] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 20px;
}

#findGroup{
    float: right; /* Прив'язка до правої сторони */
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold
}

button[id=btnSearchSchedule] { /* Фіксований розмір кпопки */
    width: 150px;
    height: 60px;
    float: left;
}

input[id=inputSearchSchedule] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: "Century Gothic";
    font-weight: bold;
}

.practice{
    color: red;
}
.lecture{
    color: blue;
}

#note_block{
    text-align: center;
}

#note_block > button{
    font-weight: bold;
    font-family: Arial;
    font-size: 15pt;
}

#noteContent > li{ /* Дочірній селектор */
    font-family: "Century Gothic";
    font-size: 20pt;
    font-weight: bold;
}

h2{
    text-align: center
}
span + b{ /* Сусідній селектор */
    color: red;
    margin: 0;
}
table{
    background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

input[type=text],
[id=content],
[id=inputSearchSchedule]:focus {
    border: 3px solid #555;
}