
main{
    display: grid;
    align-items: center;
    justify-items: center;
}

.login-form{
    font-family: "Arial",sans-serif;
    display: grid;
    grid-template: 2fr 2fr 1fr/1fr;
    grid-gap: 30px;
    padding: 30px 60px 80px 60px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.login, .password{
    display: grid;
    grid-gap: 5px;
    font-size: 30px;
}

.input{
    font-size: 18px;
}

.submit-btn{
    padding-top: 20px;
    justify-self: center;
}

.submit-btn button{
    padding: 10px 80px 10px 80px;
    font-size: 18px;
    border-radius: 5px;
}