
body{

    margin: 0;
    padding: 0;
    height: 100vh;
    background: #333;
    font-family: "Roboto",sans-serif;
}
.addNumbers{
    text-align: center;
    height: 200px;
}

.chart{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers{
    color: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50px;
    display: inline-block;
    float: left;
}

.numbers li{
    list-style: none;
    height: 190px;
    position: relative;
    bottom: 85px;
}
.numbers span{
    font-size:12px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.bars{
    color: #fff;
    font-size:12px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 400px;
    background: gray;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #555  ;
}
.bars li{
    display: block;
    width: 50px;
    height: 400px;
    position: relative;
}
.bars span{
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: center;
}

.bars .bar{
    display: block;
    background: #17C0EB;
    width: 20px;
    height: 100px;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.bars .bar:hover{
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(85,239,196,0.5);
    cursor:pointer;
}
#caption{

    color: #3366ff;
}

button{
    padding: 0;
    min-width: 116px;
    width: 15%;
    height: 50px;
    margin-left: 20px;
    font-size: 15pt;
    border-radius: 10px;

}
#massive{
    margin-top: 20px;
    font-size:35pt;
    margin-bottom: 40px;
    color: #feffff;
}
#inputNum{
    width: 6%;
    height: 60px;
    font-size: 20pt;
    padding-left: 10px;
    min-width: 50px;

}