/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*--------------------
----------------------
--------------------*/

main {
    width: 100%;
    display: grid;
}

.task {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

h1 {
    padding: 7px;
    text-align: center;
    font-size: 35px;
    background-color: #eee;
    border-bottom: 1px black;
    border-style: dashed;
}

.task-content__elements {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.task-content__element{
}


.task-content__element-title{
    font-size: 30px;
}

.ui-menu {
    width: 150px;
}

.jic {
    position: relative;
    border-bottom: dotted 1px #ccc;
    cursor: default;
}

.jic:hover { border-bottom: dotted 1px #bbb; }

.jic:hover .jic-container {
    opacity: 1;
    visibility: visible;
}

.jic-container {
    position: absolute;
    z-index: 999;
    text-align: right;
    top: 100%;
    left: 0;
    margin: 5px 0 0;
    background: #fff;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms;
}

.jic-rate {
    display: block;
    color: #444;
    white-space: nowrap;
    margin: 5px 0;
}

.jic-currency {
    display: inline-block;
    font-size: 80%;
    color: #777;
    text-transform: uppercase;
}